@font-face {
    font-family: "folia-light";
    src: url("../fonts/Cocogoose_light_Pro.ttf");
  }
.folia-font-light{
    font-family:"folia-light", sans-serif;
}
.bg-white {
color:black;
background: white;
transition: all 1s ease;
}

.bg_publique{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/bg_publique.jpg);
    height: 70vh;
}
.logo-change{
    filter: invert(31%) sepia(96%) saturate(1010%) hue-rotate(49deg) brightness(56%) contrast(76%);
    transition: all 1s ease;
}
.folia-font-secundary{
color:#09402C!important;
}

a.nav-link{
    margin-right: 2em;
    font-size: 20px;
}

.grid{
    padding: 2.08333vw;
    padding-top: 0px;
    padding-bottom: 0px;
}

.intrinsic{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/nosotros_libro.jpg);
}
.intrinsic_right{
    position: relative;
    width: 100%;
    height: 0;
    right: 0;
    padding-top: 60%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/nosotros_quienes.jpg);
}
.intrinsic_autores{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 20%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/autores_bg.jpg);
}
.intrinsic_detalles_autor{
    position: relative;
    height: 600px;
    background-size: cover;
    background-position: top;
    background-image: url(../img/caponeto.jpg);
}
.grid_nosotros{
position: fixed;
width:100%;
z-index: 99;
}

#search-input {
    border: none;
    border-bottom: 1px solid;
}

.navbar-light .navbar-nav .text-light .nav-link {
color: white!important;
}

.btn-folia {
    color:#fff;background-color:#638C1C;border-color:#638C1C
}

.form-border-folia{
    border-width: 2px;
    border-color: #638C1C;
}

figure.line{
    height: 3px;
    width: 4.33333vw;
    margin: 1.875vw 0 2.29167vw;
    background:#638C1C ;
}
.sticky-top-10 {
position: sticky;
top:10%;
}

.hBook{
    transition: all .4s;
}
#app{
    display: none!important;
}

@media only screen and (min-width: 1200px) {
    .nosotros_grid .intrinsic {
        padding-top: 125%;
    }
    .col-lg-19-48 {
        -ms-flex-preferred-size: 39.58333%;
        -webkit-flex-basis: 39.58333%;
        flex-basis: 39.58333%;
        max-width: 39.58333%;
    }
}

@media only screen and (min-width: 1024px){
    .nosotros_grid .intrinsic {
        padding-top: 177.64705882%;
    }
}

@media only screen and (min-width: 768px){
    .nosotros_grid .intrinsic {
        padding-top: 65%;
    }
    .col-lg-19-48 {
        -ms-flex-preferred-size: 39.58333%;
        -webkit-flex-basis: 39.58333%;
        flex-basis: 39.58333%;
        max-width: 39.58333%;
        padding-top: 8.33333vw;
    }
    .col-lg-19-49 {
        padding: 4.16667vw;
    }
    .height-box-service{
        height: 400px;
    }
    .nosotros_grid{
        position: relative;
        -webkit-flex-basis: 60.41667%;
        flex-basis: 60.41667%;
        max-width: 60.41667%;
    }
    .nosotros_grid_right{
        position: relative;
        /* -webkit-flex-basis: 60.41667%;
        flex-basis: 60.41667%;
        max-width: 60.41667%; */
    }
    .mfuntion{
        padding: 3rem !important;
    }
    .nosotros_mod_row{
        margin: 0;
        padding: 0;
    }
}
@media only screen and (max-width: 750px){
    .sticky-top-10{
        position: inherit;
        margin-bottom: 50px;
        margin-top: 50px;
    }
}